@model List<MovieApp.Web.Models.Movie>

@{
    Layout = "_Layout";
}


 <div id="filmler">
    @foreach (var movie in Model)
    {
        <div class="film">
            <img src="/img/@movie.ImageUrl" alt="@movie.Title" class="film-img"/>
            <p>@movie.Title </p>
            <p>@movie.Description </p>
            <p>@movie.Director </p>
            <ul>
                @foreach (var actor in movie.Actors)
                {
                    <li>@actor</li>
                }
            </ul>
        </div>
    }
</div>
@section menu
{
    @await Html.PartialAsync("_menu")
}
